<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name= "conexionsql"
		connectionString = "Data Source=tokio.database.windows.net;Initial Catalog=TOKIO_PROYECTO;Persist Security Info=True;User ID=tokio;Password=semestre6!"
		providerName = "System.Data.SqlClient" />
	</connectionStrings>
</configuration>